<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Body:</b>
  <%= replaceImgTags @news.body %>
</p>

<p>
  <b>Is important:</b>
  <%= @news.is_important %>
</p>

<p>
  <b>Keywords:</b>
  <%= @news.keywords %>
</p>

<%= link_to 'Back to edit news', edit_news_path(@news) if logged?%> <br/>
<%= link_to 'Back to news feed', news_index_path %>
